<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<title>Tambah Rekening</title>
</head>
<body>
	<div class="container">
		<div id="add-collection">
			<div id="add-nasabah">
				<div class="form-group">
					<div class="my-5 py-4 bg-info fw-bold text-white rounded text-center h2">
							Tambah Rekening
					</div>
					<form method="post" th:action="@{/nasabah/save}">
						<label>Nama Lengkap</label><br>
						<input type="text" th:field="${nasabahForm.namaLengkap}" class="form-control"/></br>
						<label>Tanggal Lahir</label><br>
						<input type="date" th:field="${nasabahForm.tgl_lahir}" class="form-control"/></br>
						<label>No Identitas</label><br>
						<input type="text" th:field="${nasabahForm.no_id}" class="form-control"/></br>
						<label>Tipe Identitas</label><br>
						<input type="text" th:field="${nasabahForm.tipe_id}" class="form-control"/></br>
						<label>Email</label><br>
						<input type="text" th:field="${nasabahForm.email}" class="form-control"/></br>
						<label>Contact</label><br>
						<input type="text" th:field="${nasabahForm.noContact}" class="form-control"/></br>
						<label>Nomor Rekening</label><br>
						<input type="text" th:field="${dataRekForm.noRekening}" class="form-control"/></br>
						<label>Nama Provider</label><br>
						<select name="providers" id="providers" class="form-control">
		                    <option th:each="provider : ${providers}"
		                            th:value="${provider.id}"
		                            th:text="${provider.namaBank}">
		                    </option>
	                	</select><br>
	                	<div>
							<input class="btn btn-primary" type="submit" value="save"/><br><br>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="table-responsive">
				<table border="1" class="table">
					<thead>
						<tr>
							<td>Nama Lengkap</td>
							<td>Tanggal Lahir</td>
							<td>No Identitas</td>
							<td>Tipe Identitas</td>
							<td>Email</td>
							<td>Contact</td>
							<td>No Rekening</td>
							<td>Provider Bank</td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody th:each="rekening : ${dataReks}">
						<tr>
							<td th:text="${rekening.nasabah.namaLengkap}"></td>
							<td th:text="${rekening.nasabah.tgl_lahir}"></td>
							<td th:text="${rekening.nasabah.no_id}"></td>
							<td th:text="${rekening.nasabah.tipe_id}"></td>
							<td th:text="${rekening.nasabah.email}"></td>
							<td th:text="${rekening.nasabah.noContact}"></td>
							<td th:text="${rekening.noRekening}"></td>
							<td th:text="${rekening.provider.namaBank}"></td>
							<td>
								<button th:onclick="deleteData('[[${rekening.id}]]')">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script inline="javascript">
	/* */
	
	var baseUrl = "";
	
	function deleteData(data){
		var conf = confirm("are you sure ?")
		if(conf == true){
			window.location = baseUrl + "nasabah/delete?id="+data;
		}
		return false;
	}
	
</script>

</html>