<!DOCTYPE html>

<html>
<head>
	
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<title>Transfer</title>
</head>
<body>
	<div class="container">
		<div id="add-collection">
			<div id="add-nasabah">
				<div class="form-group">
					<div class="my-5 py-4 bg-info fw-bold text-white rounded text-center h2">
							Transaksi Pengiriman Dana
					</div>
					<form method="post" th:action="@{/transfer/save}">
						<label>No Rekening Pengirim</label><br>
						<input type="text" th:field="${transferForm.rekening_pengirim.noRekening}" class="form-control"/>
						<a class="col-sm-2" data-bs-toggle="modal" data-bs-target="#modalKirim">
                			Cek Pengirim
            			</a><br><br>
						<label>No Rekening Penerima</label><br>
						<input type="text" th:field="${transferForm.rekening_penerima.noRekening}" class="form-control"/>
						<a class="col-sm-2" data-bs-toggle="modal" data-bs-target="#modalTerima">
                			Cek Penerima
            			</a><br><br>
						<label>Jumlah Amount</label><br>
						<input type="number" th:field="${transferForm.amount}" class="form-control"/></br>
	                	<div>
							<input class="btn btn-primary" type="submit" value="kirim"/><br><br>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="table-responsive">
				<table border="1" class="table">
					<thead>
						<tr>
							<td>Rekening Pengirim</td>
							<td>Rekening Penerima</td>
							<td>Amount</td>
							<td>Bank Asal</td>
							<td>Bank Tujuan</td>
							<td>Fee</td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody th:each="transfer : ${page}">
						<tr>
							<td th:text="${transfer.rekening_pengirim.noRekening}"></td>
							<td th:text="${transfer.rekening_penerima.noRekening}"></td>
							<td th:text="${transfer.amount}"></td>
							<td th:text="${transfer.rekening_pengirim.provider.namaBank}"></td>
							<td th:text="${transfer.rekening_penerima.provider.namaBank}"></td>
							<td th:text="${transfer.fee}"></td>
							<td>
								<button th:onclick="deleteData('[[${transfer.id}]]')">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!-- Modal Pengirim-->
		<div class="modal fade" id="modalKirim">
		  <div class="modal-dialog">
		    <div class="modal-content">
		
		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Atas Nama Pengirim</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      </div>
		
		      <!-- Modal body -->
		      <div class="modal-body">
		        <div class="row">
					<div class="col-sm-12" th:each="rekening : ${rekeningList}">
							<span th:text="${rekening.noRekening}"></span>
							<span th:text="${rekening.nasabah.noIdentitas}"></span>
							<span th:text="${rekening.nasabah.email}"></span>
							<span th:text="${rekening.nasabah.noContact}"></span>
					</div>
				</div>
		      </div>
		
		    </div>
		  </div>
		</div>
		
		<!-- Modal Penerima-->
		<div class="modal fade" id="modalTerima">
		  <div class="modal-dialog">
		    <div class="modal-content">
		
		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Atas Nama Penerima</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      </div>
		
		      <!-- Modal body -->
		      <div class="modal-body">
		        <div class="row">
					<div class="col-sm-12" th:each="rekening : ${rekeningList}">
							<span th:text="${rekening.noRekening}"></span>
							<span th:text="${rekening.nasabah.noIdentitas}"></span>
							<span th:text="${rekening.nasabah.email}"></span>
							<span th:text="${rekening.nasabah.noContact}"></span>
					</div>
				</div>
		      </div>
		
		    </div>
		  </div>
		</div>


	
</body>
<script inline="javascript">
	/* */
	
	var baseUrl = "";
	
	function deleteData(data){
		var conf = confirm("are you sure ?")
		if(conf == true){
			window.location = baseUrl + "transfer/delete?id="+data;
		}
		return false;
	}
	
</script>

</html>